@charset "UTF-8";

/*Gerais*/

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Cabeçalho*/

.banner {
    background: url(img/banner-topo.jpg);
    background-size: cover;
    background-position: center;
    padding: 120px 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c184e;
}

.logo h2 {
    display: inline;
    font-size: 2rem;
}

.logo .img-logo {
    width: 5%;
    max-width: 25px;
}

.logo p {
    margin-top: 0;
    margin-bottom: 45px;
}

.texto-banner {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.676);
    width: 65%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 1px 1px 20px 2px #1f26875e;
    border-radius: 10px;
}

.texto-banner h1 {
    line-height: 3rem;
}

.texto-banner a {
    background-color: #3c184e;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 20px;
}

.texto-banner .img-social {
    max-height: 16px;
}

/*Serviços*/

.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: #3c184e;
}

.servicos h2 {
    font-weight: bolder;
    margin-top: 70px;
}

.lista-servicos {
    text-align: justify;
}

.lista-servicos ul li {
    max-width: 600px;
    padding: 10px 0;
}

.lista-servicos ul li span {
    font-weight: bold;
    font-style: italic;
}

.img-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 120px;
}

@media (max-width: 800px) {
    .img-servicos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 120px;
    }
}

.img-servicos img {
    border-radius: 10px;
    box-shadow: 1px 1px 25px 5px #0000005c;
}

/*Social*/

section.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3c184e;
    color: white;
}

.texto-social h2 {
    margin-top: 120px;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: center;
}

.texto-social h2 span{
    font-weight: bold;
    font-style: italic;
}

.social .img-social {
    margin-bottom: 50px;
}

.social .img-social img {
    max-width: 50px;
    padding: 20px;
}


/*Marcas*/


section.marcas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px auto;
}

.img-marcas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    gap: 40px;
}

.texto-marcas {
    margin: 40px 0;
    color: #3c184e;
    font-weight: bolder;
}

/*Localização*/

section.localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3c184e;
    margin-top: 120px;
    margin-bottom: 120px;
}

.texto-localizacao {
    text-align: center;
}

.texto-localizacao h2 {
    padding-bottom: 20px;
}

.maps {
    max-width: 800px;
    height: 450px;
}

/*Rodapé*/

footer {
    background-color: #3c184e;
    color: white;
    text-align: center;
}

footer p {
    margin-bottom: 0;
    padding: 20px 0;
}

footer p a {
    color: white;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}